:root {
  --xp-cursor-default: url('../assets/484fc59ac7ac.ico'), auto;
  --xp-cursor-pointer: url('../assets/915e257f8eed.ico'), auto;
  --xp-cursor-resize-ns: url('../assets/7cbecca550ed.ico'), auto;
  --xp-cursor-resize-ew: url('../assets/72085311901c.ico'), auto;
  --xp-cursor-resize-nesw: url('../assets/b3906098e733.ico'), auto;
  --xp-cursor-resize-nwse: url('../assets/9f7ebc98aa96.ico'), auto;
  --xp-cursor-not-allowed: url('../assets/55ee89bee979.ico'), auto;
  --xp-cursor-grab: grab;
  --xp-cursor-grabbing: grabbing;
  --xp-cursor-none: none;
}
*,
:before,
:after {
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
:before,
:after {
  --tw-content: '';
}
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol,
    'Noto Color Emoji';
  font-feature-settings: normal;
  font-variation-settings: normal;
}
body {
  margin: 0;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
img,
svg,
iframe {
  display: block;
  vertical-align: middle;
}
img {
  max-width: 100%;
}
:root,
[data-theme] {
  background-color: hsl(var(--b1) / var(--tw-bg-opacity, 1));
  color: hsl(var(--bc) / var(--tw-text-opacity, 1));
}
html {
  -webkit-tap-highlight-color: transparent;
}
:root {
  color-scheme: light;
  --pf: 259 94% 44%;
  --sf: 314 100% 40%;
  --af: 174 75% 39%;
  --nf: 214 20% 14%;
  --in: 198 93% 60%;
  --su: 158 64% 52%;
  --wa: 43 96% 56%;
  --er: 0 91% 71%;
  --inc: 198 100% 12%;
  --suc: 158 100% 10%;
  --wac: 43 100% 11%;
  --erc: 0 100% 14%;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --p: 259 94% 51%;
  --pc: 259 96% 91%;
  --s: 314 100% 47%;
  --sc: 314 100% 91%;
  --a: 174 75% 46%;
  --ac: 174 75% 11%;
  --n: 214 20% 21%;
  --nc: 212 19% 87%;
  --b1: 0 0% 100%;
  --b2: 0 0% 95%;
  --b3: 180 2% 90%;
  --bc: 215 28% 17%;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --pf: 262 80% 43%;
    --sf: 316 70% 43%;
    --af: 175 70% 34%;
    --in: 198 93% 60%;
    --su: 158 64% 52%;
    --wa: 43 96% 56%;
    --er: 0 91% 71%;
    --inc: 198 100% 12%;
    --suc: 158 100% 10%;
    --wac: 43 100% 11%;
    --erc: 0 100% 14%;
    --rounded-box: 1rem;
    --rounded-btn: 0.5rem;
    --rounded-badge: 1.9rem;
    --animation-btn: 0.25s;
    --animation-input: 0.2s;
    --btn-text-case: uppercase;
    --btn-focus-scale: 0.95;
    --border-btn: 1px;
    --tab-border: 1px;
    --tab-radius: 0.5rem;
    --p: 262 80% 50%;
    --pc: 0 0% 100%;
    --s: 316 70% 50%;
    --sc: 0 0% 100%;
    --a: 175 70% 41%;
    --ac: 0 0% 100%;
    --n: 213 18% 20%;
    --nf: 212 17% 17%;
    --nc: 220 13% 69%;
    --b1: 212 18% 14%;
    --b2: 213 18% 12%;
    --b3: 213 18% 10%;
    --bc: 220 13% 69%;
  }
}
[data-theme='light'] {
  color-scheme: light;
  --pf: 259 94% 44%;
  --sf: 314 100% 40%;
  --af: 174 75% 39%;
  --nf: 214 20% 14%;
  --in: 198 93% 60%;
  --su: 158 64% 52%;
  --wa: 43 96% 56%;
  --er: 0 91% 71%;
  --inc: 198 100% 12%;
  --suc: 158 100% 10%;
  --wac: 43 100% 11%;
  --erc: 0 100% 14%;
  --rounded-box: 1rem;
  --rounded-btn: 0.5rem;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: 0.2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --p: 259 94% 51%;
  --pc: 259 96% 91%;
  --s: 314 100% 47%;
  --sc: 314 100% 91%;
  --a: 174 75% 46%;
  --ac: 174 75% 11%;
  --n: 214 20% 21%;
  --nc: 212 19% 87%;
  --b1: 0 0% 100%;
  --b2: 0 0% 95%;
  --b3: 180 2% 90%;
  --bc: 215 28% 17%;
}
:root {
  --sidebar-width: 3rem;
}
*,
:before,
:after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246/0.5);
  --tw-ring-offset-shadow: 0 0#0000;
  --tw-ring-shadow: 0 0#0000;
  --tw-shadow: 0 0#0000;
  --tw-shadow-colored: 0 0#0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246/0.5);
  --tw-ring-offset-shadow: 0 0#0000;
  --tw-ring-shadow: 0 0#0000;
  --tw-shadow: 0 0#0000;
  --tw-shadow-colored: 0 0#0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
@keyframes button-pop {
  0% {
    transform: scale(var(--btn-focus-scale, 0.98));
  }
  40% {
    transform: scale(1.02);
  }
  to {
    transform: scale(1);
  }
}
@keyframes checkmark {
  0% {
    background-position-y: 5px;
  }
  50% {
    background-position-y: -2px;
  }
  to {
    background-position-y: 0;
  }
}
@keyframes modal-pop {
  0% {
    opacity: 0;
  }
}
@keyframes progress-loading {
  50% {
    background-position-x: -115%;
  }
}
@keyframes radiomark {
  0% {
    box-shadow:
      0 0 0 12px hsl(var(--b1)) inset,
      0 0 0 12px hsl(var(--b1)) inset;
  }
  50% {
    box-shadow:
      0 0 0 3px hsl(var(--b1)) inset,
      0 0 0 3px hsl(var(--b1)) inset;
  }
  to {
    box-shadow:
      0 0 0 4px hsl(var(--b1)) inset,
      0 0 0 4px hsl(var(--b1)) inset;
  }
}
@keyframes rating-pop {
  0% {
    transform: translateY(-0.125em);
  }
  40% {
    transform: translateY(-0.125em);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes toast-pop {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.flex {
  display: flex;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes notyf-fadeinup {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes notyf-fadeinleft {
  0% {
    opacity: 0;
    transform: translate(25%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes notyf-fadeoutright {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  to {
    opacity: 0;
    transform: translate(25%);
  }
}
@keyframes notyf-fadeoutdown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(25%);
  }
}
@keyframes ripple {
  0% {
    transform: scale(0) translateY(-45%) translate(13%);
  }
  to {
    transform: scale(1) translateY(-45%) translate(13%);
  }
}
@font-face {
  font-family: MSSS;
  src: url('../assets/f5f58ead0482.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: MSSS;
  src: url('../assets/1ce55c9ca2f2.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-select: none;
}
html body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-family:
    MSSS,
    Tahoma,
    Trebuchet MS,
    Arial,
    sans-serif;
  font-size: 11px;
  line-height: 1;
  background: teal;
}
:any-link {
  cursor: var(--xp-cursor-pointer);
}
#root {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
:root {
  --xp-gradient:
    rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%,
    rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%,
    rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%,
    rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%,
    rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%,
    rgb(25, 65, 165) 98%;
  --titlebar-gradient:
    180deg, #0997ff, #0053ee 8%, #0050ee 40%, #06f 88%, #06f 93%, #005bff 95%,
    #003dd7 96%, #003dd7;
  --titlebar-gradient-inactive:
    rgb(118, 151, 231) 0%, rgb(126, 158, 227) 3%, rgb(148, 175, 232) 6%,
    rgb(151, 180, 233) 8%, rgb(130, 165, 228) 14%, rgb(124, 159, 226) 17%,
    rgb(121, 150, 222) 25%, rgb(123, 153, 225) 56%, rgb(130, 169, 233) 81%,
    rgb(128, 165, 231) 89%, rgb(123, 150, 225) 94%, rgb(122, 147, 223) 97%,
    rgb(171, 186, 227) 100%;
  --window-box-shadow-inactive:
    inset -1px -1px rgb(130, 165, 228), inset 1px 1px rgb(130, 165, 228),
    inset -2px -2px rgb(130, 165, 228), inset 2px 2px rgb(130, 165, 228),
    inset -3px -3px rgb(130, 165, 228), inset 3px 3px rgb(130, 165, 228);
  --window-box-shadow:
    inset -1px -1px #424fa2, inset 1px 1px #4e68d1, inset -2px -2px #5669c0,
    inset 2px 2px #528eef, inset -3px -3px #4e73d7, inset 3px 3px #5284da;
  --tile-box-shadow:
    rgb(0 0 0/30%) -1px 0px inset, rgb(255 255 255/20%) 1px 1px 1px inset;
  --tile-box-shadow-focus:
    rgb(0 0 0/20%) 0px 0px 1px 1px inset, rgb(0 0 0/70%) 1px 0px 1px inset;
  --system-tray:
    rgb(12, 89, 185) 1%, rgb(19, 158, 233) 6%, rgb(24, 181, 242) 10%,
    rgb(19, 155, 235) 14%, rgb(18, 144, 232) 19%, rgb(13, 141, 234) 63% 63%,
    rgb(13, 159, 241) 81%, rgb(15, 158, 237) 88%, rgb(17, 155, 233) 91%,
    rgb(19, 146, 226) 94%, rgb(19, 126, 215) 97%, rgb(9, 91, 201) 100%;
  --xp-scrollbar-size: 17px;
  --xp-scrollbar-thumb-bg: #c8d6fb;
  --xp-scrollbar-thumb-shadow-left: inset -3px 0#bad1fc;
  --xp-scrollbar-thumb-shadow-right: inset 1px 1px #b7caf5;
  --xp-scrollbar-border: 1px solid white;
}
::-webkit-scrollbar {
  width: var(--xp-scrollbar-size);
  height: var(--xp-scrollbar-size);
}
::-webkit-scrollbar-corner {
  background: #dfdfdf;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--xp-scrollbar-thumb-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7px;
  border: var(--xp-scrollbar-border);
  border-radius: 2px;
  box-shadow:
    var(--xp-scrollbar-thumb-shadow-left),
    var(--xp-scrollbar-thumb-shadow-right);
}
::-webkit-scrollbar-button {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
._desktop_1d92e_1 {
  width: 100vw;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
._without-taskbar_1d92e_12 {
  position: absolute;
  inset: 0 0 30px;
}
._icons-container_1d92e_20 {
  --grid-cols: 1;
  --grid-rows: 1;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 8px;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  overflow: hidden;
}
@keyframes _desktop-icons-refresh_1d92e_1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
._icon_1d92e_20 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  padding: 4px;
  border-radius: 2px;
  box-sizing: border-box;
  min-width: 0;
  width: 100%;
  max-width: 80px;
  height: 100%;
  max-height: 80px;
  justify-self: center;
  align-self: center;
  -webkit-user-select: none;
  user-select: none;
}
._icon-image_1d92e_76 {
  width: 45px;
  height: 45px;
  object-fit: contain;
  pointer-events: none;
}
._icon-name_1d92e_83 {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  font-size: 11px;
  text-align: center;
  word-break: break-word;
  max-width: 80px;
  padding: 2px;
}
:root {
  --react-pdf-annotation-layer: 1;
  --annotation-unfocused-field-background: url(data:image/svg+xml;charset=UTF-8,<svg\ width=\'1px\'\ height=\'1px\'\ xmlns=\'http://www.w3.org/2000/svg\'><rect\ width=\'100%\'\ height=\'100%\'\ style=\'fill:rgba\(0,\ 54,\ 255,\ 0.13\);\'\/><\/svg>);
  --input-focus-border-color: Highlight;
  --input-focus-outline: 1px solid Canvas;
  --input-unfocused-border-color: transparent;
  --input-disabled-border-color: transparent;
  --input-hover-border-color: black;
  --link-outline: none;
}
@media screen and (forced-colors: active) {
  :root {
    --input-focus-border-color: CanvasText;
    --input-unfocused-border-color: ActiveText;
    --input-disabled-border-color: GrayText;
    --input-hover-border-color: Highlight;
    --link-outline: 1.5px solid LinkText;
  }
}
@font-face {
  font-family: VideoJS;
  src: url('../assets/024098ab3344.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@keyframes vjs-spinner-show {
  to {
    visibility: visible;
  }
}
@keyframes vjs-spinner-spin {
  to {
    transform: rotate(360deg);
  }
}
@keyframes vjs-spinner-fade {
  0% {
    border-top-color: #73859f;
  }
  20% {
    border-top-color: #73859f;
  }
  35% {
    border-top-color: #fff;
  }
  60% {
    border-top-color: #73859f;
  }
  to {
    border-top-color: #73859f;
  }
}
._taskbar_oqlpl_1 {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 30px;
  background: linear-gradient(var(--xp-gradient));
  z-index: 120000;
  -webkit-user-select: none;
  user-select: none;
}
#_startButton_oqlpl_1 {
  width: 100px;
  height: 100%;
  background-image: url('../assets/d26a87e746f6.png');
  background-size: cover;
  flex-shrink: 0;
}
#_startButton_oqlpl_1:hover {
  filter: brightness(1.1);
}
._bar_oqlpl_26 {
  justify-content: flex-start;
  flex: 1 1 0;
  min-width: 0;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 2px 0;
  overflow: hidden;
}
._system-tray_oqlpl_86 {
  background: linear-gradient(var(--system-tray));
  border-left: 1px solid rgb(16, 66, 175);
  box-shadow: #18bbff 1px 0 1px inset;
  padding: 0 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  justify-content: flex-end;
  height: 100%;
  gap: 4px;
}
._system-tray-item_oqlpl_100 {
  width: 16px;
  height: 16px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
._time_oqlpl_108 {
  color: #fff;
  font-size: 11px;
}
._system-tray-item-wrapper_oqlpl_147 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes _loader_2pv1l_1 {
  0% {
    transform: translate(-50px);
  }
  to {
    transform: translate(235px);
  }
}
